[data-component-part=card-icon] {
  min-width: 24px;
}

.card .icon {
  margin: 0;
  position: relative;
  top: -1px;
  width: 20px !important;
  height: 20px  !important;
}

.pop-count {
  position: absolute;
  top: 16px;
  right: 16px;
  font-size: 12px;
  font-weight: bold;
}

.pop-count .icon {
  margin-right: 3px;
}

/* unlinked cards are "disabled" */
.card:not(a) {
  opacity: 0.5;
}

/* except when they have an icon inside them */
.card:has([data-component-part=card-icon]) {
  opacity: 1;
}

table tr:has(th:empty) {
  display: none;
}

.update table td {
  min-width: auto;
}

div[data-component-part=tab-content] {
  overflow-x: hidden;
}