[data-component-part=card-icon] {
  min-width: 24px;
}

.card .icon {
  margin: 0;
  position: relative;
  top: -1px;
  width: 20px !important;
  height: 20px  !important;
}

.pop-count {
  position: absolute;
  top: 16px;
  right: 16px;
  font-size: 12px;
  font-weight: bold;
}

.pop-count .icon {
  margin-right: 3px;
}

/* unlinked cards are "disabled" */
.card:not(a) {
  opacity: 0.5;
}

/* except when they have an icon inside them */
.card:has([data-component-part=card-icon]) {
  opacity: 1;
}

table tr:has(th:empty) {
  display: none;
}

.update table td, .tab-container table td {
  min-width: auto;
}

.tab-container table td {
  white-space: nowrap;
}

.dark\:bg-primary-light:is(.dark *) {
  background: transparent;
}

h4 .icon, h4 .icon + a {
  opacity: 0.7;
  font-size: 14px;
  border-bottom: none;  
} 

h4 .icon {
  margin-left: 1em;
}

h4 .icon + a:hover {
  opacity: 1;
}

h4 + div > .table td {
  min-width: auto;
}

svg[style*="transporter-empty"] {
  display: none;
}

a:has(svg[style*="transporter-empty"]) {
  opacity: 0.4;
  pointer-events: none;
}
