openapi: 3.0.0
info:
  contact:
    email: dev@invopop.com
    name: Invopop Developers
  description: The Invopop Sequence Service API allows you to define a "series" whose
    entries are guaranteed to be sequential.
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  title: Sequence Service API
  version: 1.0.3
servers:
- description: production
  url: https://api.invopop.com
- description: local development
  url: https://api.invopop.dev
paths:
  /sequence/v1/series:
    get:
      description: Fetch a collection of Series
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SequenceSeriesCollection'
          description: OK
  /sequence/v1/series/{id}:
    get:
      description: Fetch a Serie
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SequenceSeries'
          description: OK
    put:
      description: Create a Series
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              properties:
                code:
                  type: string
                description:
                  type: string
                id:
                  type: string
                name:
                  type: string
                padding:
                  type: integer
                prefix:
                  type: string
                sig:
                  type: string
                start:
                  type: integer
                suffix:
                  type: string
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SequenceEntry'
          description: OK
  /sequence/v1/series/{series_id}/entries:
    get:
      description: Fetch a collection of entries
      parameters:
      - in: path
        name: series_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SequenceEntryCollection'
          description: OK
  /sequence/v1/series/{series_id}/entries/{id}:
    get:
      description: Fetch an entry
      parameters:
      - in: path
        name: series_id
        required: true
        schema:
          type: string
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SequenceEntry'
          description: OK
    put:
      description: Create an entry
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      - in: path
        name: series_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              properties:
                id:
                  type: string
                meta:
                  additionalProperties:
                    type: string
                  type: object
                sig:
                  type: string
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SequenceEntry'
          description: OK
components:
  schemas:
    SequenceEntry:
      properties:
        code:
          type: string
        created_at:
          type: string
        id:
          type: string
        meta:
          additionalProperties:
            type: string
          type: object
        previous_id:
          type: string
        series_id:
          type: string
        sigs:
          items:
            type: string
          type: array
        updated_at:
          type: string
      type: object
    SequenceEntryCollection:
      properties:
        cursor:
          type: string
        limit:
          type: integer
        list:
          items:
            $ref: '#/components/schemas/SequenceEntry'
          nullable: true
          type: array
      type: object
    SequenceSeries:
      properties:
        code:
          type: string
        created_at:
          type: string
        description:
          type: string
        id:
          type: string
        last_entry_id:
          type: string
        last_index:
          type: integer
        name:
          type: string
        padding:
          type: integer
        prefix:
          type: string
        suffix:
          type: string
        updated_at:
          type: string
      type: object
    SequenceSeriesCollection:
      properties:
        list:
          items:
            $ref: '#/components/schemas/SequenceSeries'
          nullable: true
          type: array
      type: object
  securitySchemes:
    authToken:
      bearerFormat: JWT
      scheme: bearer
      type: http
