openapi: 3.0.0
info:
  contact:
    email: dev@invopop.com
    name: Invopop Developers
  description: The Invopop Transform Service API offers end points to be able to manage
    tasks and workflows with the primary objective being to send requests for jobs.
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  title: Transform Service API
  version: 1.0.1
servers:
- description: production
  url: https://api.invopop.com
- description: local development
  url: https://api.invopop.dev
paths:
  /transform/v1/integrations:
    get:
      description: Fetch all the integrations in the current company.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransformCollection'
          description: OK
  /transform/v1/integrations/{id}:
    get:
      description: Fetch an existing integration given its UUID.
      parameters:
      - description: The UUID of the integration to fetch.
        in: path
        name: id
        required: true
        schema:
          description: The UUID of the integration to fetch.
          title: ID
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransformIntegration'
          description: OK
    patch:
      description: Update an existing integration given its UUID.
      parameters:
      - description: New name for the integration.
        in: query
        name: name
        schema:
          description: New name for the integration.
          title: Name
          type: string
      - description: Updated notes.
        in: query
        name: notes
        schema:
          description: Updated notes.
          title: Notes
          type: string
      - description: Updated configuration.
        in: query
        name: config
        schema:
          description: Updated configuration.
          title: Config
      - description: The UUID of the integration to update.
        in: path
        name: id
        required: true
        schema:
          description: The UUID of the integration to update.
          title: ID
          type: string
      requestBody:
        content:
          application/json:
            schema:
              properties:
                config:
                  description: Updated configuration.
                  title: Config
                name:
                  description: New name for the integration.
                  title: Name
                  type: string
                notes:
                  description: Updated notes.
                  title: Notes
                  type: string
              type: object
          application/x-www-form-urlencoded:
            schema:
              properties:
                config:
                  description: Updated configuration.
                  title: Config
                name:
                  description: New name for the integration.
                  title: Name
                  type: string
                notes:
                  description: Updated notes.
                  title: Notes
                  type: string
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransformIntegration'
          description: OK
    put:
      description: Create a new integration idempotently with the given UUID (any
        version).
      parameters:
      - description: Name of the integration.
        in: query
        name: name
        schema:
          description: Name of the integration.
          title: Name
          type: string
      - description: Notes about the integration.
        in: query
        name: notes
        schema:
          description: Notes about the integration.
          title: Notes
          type: string
      - description: Provider to use for the integration.
        in: query
        name: provider
        schema:
          description: Provider to use for the integration.
          example: email
          title: Provider
          type: string
      - description: JSON configuration for this provider.
        in: query
        name: config
        schema:
          description: JSON configuration for this provider.
          title: Config
      - description: The UUID (any version) of the integration to create.
        in: path
        name: id
        required: true
        schema:
          description: The UUID (any version) of the integration to create.
          title: ID
          type: string
      requestBody:
        content:
          application/json:
            schema:
              properties:
                config:
                  description: JSON configuration for this provider.
                  title: Config
                name:
                  description: Name of the integration.
                  title: Name
                  type: string
                notes:
                  description: Notes about the integration.
                  title: Notes
                  type: string
                provider:
                  description: Provider to use for the integration.
                  example: email
                  title: Provider
                  type: string
              type: object
          application/x-www-form-urlencoded:
            schema:
              properties:
                config:
                  description: JSON configuration for this provider.
                  title: Config
                name:
                  description: Name of the integration.
                  title: Name
                  type: string
                notes:
                  description: Notes about the integration.
                  title: Notes
                  type: string
                provider:
                  description: Provider to use for the integration.
                  example: email
                  title: Provider
                  type: string
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransformIntegration'
          description: OK
  /transform/v1/jobs:
    post:
      description: Create a new job non-idempotently without an explicit UUID. Only
        recommended for testing purposes, production environments should use the PUT
        method.
      parameters:
      - description: WorkflowID description
        in: query
        name: workflow_id
        schema:
          description: WorkflowID description
          title: Workflow ID
          type: string
      - description: ID for the entry in the silo as an alternative for the raw data
          object.
        in: query
        name: silo_entry_id
        schema:
          description: ID for the entry in the silo as an alternative for the raw
            data object.
          title: Silo Entry ID
          type: string
      - description: Raw JSON data of the complete GOBL Envelope or Document when
          the Silo Entry ID.
        in: query
        name: data
        schema:
          description: Raw JSON data of the complete GOBL Envelope or Document when
            the Silo Entry ID.
          title: Data
      - description: Tags to associate with the job.
        in: query
        name: tags
        schema:
          description: Tags to associate with the job.
          items:
            type: string
          title: Tags
          type: array
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransformCreateJob'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/FormDataTransformCreateJob'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransformJob'
          description: OK
  /transform/v1/jobs/{id}:
    get:
      description: Fetch an existing job given its UUID.
      parameters:
      - description: The UUID of the job to fetch.
        in: path
        name: id
        required: true
        schema:
          description: The UUID of the job to fetch.
          title: ID
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransformJob'
          description: OK
    put:
      description: Create a new job idempotently with the given UUIDv1 (other versions
        not supported).
      parameters:
      - description: WorkflowID description
        in: query
        name: workflow_id
        schema:
          description: WorkflowID description
          title: Workflow ID
          type: string
      - description: ID for the entry in the silo as an alternative for the raw data
          object.
        in: query
        name: silo_entry_id
        schema:
          description: ID for the entry in the silo as an alternative for the raw
            data object.
          title: Silo Entry ID
          type: string
      - description: Raw JSON data of the complete GOBL Envelope or Document when
          the Silo Entry ID.
        in: query
        name: data
        schema:
          description: Raw JSON data of the complete GOBL Envelope or Document when
            the Silo Entry ID.
          title: Data
      - description: Tags to associate with the job.
        in: query
        name: tags
        schema:
          description: Tags to associate with the job.
          items:
            type: string
          title: Tags
          type: array
      - description: The UUIDv1 (other versions not supported) of the job to create.
        in: path
        name: id
        required: true
        schema:
          description: The UUIDv1 (other versions not supported) of the job to create.
          title: ID
          type: string
      requestBody:
        content:
          application/json:
            schema:
              properties:
                data:
                  description: Raw JSON data of the complete GOBL Envelope or Document
                    when the Silo Entry ID.
                  title: Data
                silo_entry_id:
                  description: ID for the entry in the silo as an alternative for
                    the raw data object.
                  title: Silo Entry ID
                  type: string
                tags:
                  description: Tags to associate with the job.
                  items:
                    type: string
                  title: Tags
                  type: array
                workflow_id:
                  description: WorkflowID description
                  title: Workflow ID
                  type: string
              type: object
          application/x-www-form-urlencoded:
            schema:
              properties:
                data:
                  description: Raw JSON data of the complete GOBL Envelope or Document
                    when the Silo Entry ID.
                  title: Data
                silo_entry_id:
                  description: ID for the entry in the silo as an alternative for
                    the raw data object.
                  title: Silo Entry ID
                  type: string
                tags:
                  description: Tags to associate with the job.
                  items:
                    type: string
                  nullable: true
                  title: Tags
                  type: array
                workflow_id:
                  description: WorkflowID description
                  title: Workflow ID
                  type: string
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransformJob'
          description: OK
  /transform/v1/workflows:
    get:
      description: Fetch all the workflows in the current company.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransformCollection'
          description: OK
  /transform/v1/workflows/{id}:
    get:
      description: Fetch an existing workflow given its UUID.
      parameters:
      - description: The UUID of the workflow to fetch.
        in: path
        name: id
        required: true
        schema:
          description: The UUID of the workflow to fetch.
          title: ID
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransformWorkflow'
          description: OK
    patch:
      description: Update an existing workflow given its UUID.
      parameters:
      - description: New name for the workflow.
        in: query
        name: name
        schema:
          description: New name for the workflow.
          title: Name
          type: string
      - description: Updated description.
        in: query
        name: description
        schema:
          description: Updated description.
          title: Description
          type: string
      - description: New array of integration IDs to use for this workflow.
        in: query
        name: integration_ids
        schema:
          description: New array of integration IDs to use for this workflow.
          items:
            type: string
          title: Integration IDs
          type: array
      - description: The UUID of the workflow to update.
        in: path
        name: id
        required: true
        schema:
          description: The UUID of the workflow to update.
          title: ID
          type: string
      requestBody:
        content:
          application/json:
            schema:
              properties:
                description:
                  description: Updated description.
                  title: Description
                  type: string
                integration_ids:
                  description: New array of integration IDs to use for this workflow.
                  items:
                    type: string
                  nullable: true
                  title: Integration IDs
                  type: array
                name:
                  description: New name for the workflow.
                  title: Name
                  type: string
              type: object
          application/x-www-form-urlencoded:
            schema:
              properties:
                description:
                  description: Updated description.
                  title: Description
                  type: string
                integration_ids:
                  description: New array of integration IDs to use for this workflow.
                  items:
                    type: string
                  nullable: true
                  title: Integration IDs
                  type: array
                name:
                  description: New name for the workflow.
                  title: Name
                  type: string
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransformWorkflow'
          description: OK
    put:
      description: Create a new workflow idempotently with the given UUID (any version).
      parameters:
      - description: Name of the workflow.
        in: query
        name: name
        schema:
          description: Name of the workflow.
          title: Name
          type: string
      - description: Description of the workflow.
        in: query
        name: description
        schema:
          description: Description of the workflow.
          title: Description
          type: string
      - description: Array of integration IDs to use for this workflow.
        in: query
        name: integration_ids
        schema:
          description: Array of integration IDs to use for this workflow.
          items:
            type: string
          title: Integration IDs
          type: array
      - description: The UUID (any version) of the workflow to create.
        in: path
        name: id
        required: true
        schema:
          description: The UUID (any version) of the workflow to create.
          title: ID
          type: string
      requestBody:
        content:
          application/json:
            schema:
              properties:
                description:
                  description: Description of the workflow.
                  title: Description
                  type: string
                integration_ids:
                  description: Array of integration IDs to use for this workflow.
                  items:
                    type: string
                  nullable: true
                  title: Integration IDs
                  type: array
                name:
                  description: Name of the workflow.
                  title: Name
                  type: string
              type: object
          application/x-www-form-urlencoded:
            schema:
              properties:
                description:
                  description: Description of the workflow.
                  title: Description
                  type: string
                integration_ids:
                  description: Array of integration IDs to use for this workflow.
                  items:
                    type: string
                  nullable: true
                  title: Integration IDs
                  type: array
                name:
                  description: Name of the workflow.
                  title: Name
                  type: string
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransformWorkflow'
          description: OK
components:
  schemas:
    FormDataTransformCreateJob:
      properties:
        data:
          description: Raw JSON data of the complete GOBL Envelope or Document when
            the Silo Entry ID.
          title: Data
        silo_entry_id:
          description: ID for the entry in the silo as an alternative for the raw
            data object.
          title: Silo Entry ID
          type: string
        tags:
          description: Tags to associate with the job.
          items:
            type: string
          nullable: true
          title: Tags
          type: array
        workflow_id:
          description: WorkflowID description
          title: Workflow ID
          type: string
      type: object
    TransformAttachment:
      properties:
        desc:
          description: Description of the attachment
          example: My file description.
          title: Description
          type: string
        hash:
          description: SHA256 hash of the file
          example: ba7816bf8f01cfea414140de5dae2223b00361a396177a9cb410ff61f20015ad
          title: Hash
          type: string
        id:
          description: UUIDv4 for the Attachment
          example: b564ff94-7823-4f54-975e-280feb38df3f
          title: ID
          type: string
        meta:
          additionalProperties:
            type: string
          description: Any additional data that might be relevant.
          title: Meta
          type: object
        mime:
          description: MIME type of the file
          example: application/pdf
          title: MIME
          type: string
        name:
          description: Name of the attachment
          example: my-file.pdf
          title: Name
          type: string
        size:
          description: Size of the file in bytes
          example: 12345
          title: Size
          type: integer
        url:
          description: Public URL where the file can be downloaded.
          title: URL
          type: string
      type: object
    TransformCollection:
      properties:
        created_at:
          description: First or queried timestamp when the first entry in the page
            was created.
          title: Created At
          type: string
        limit:
          description: Maximum number of objects returned in a page.
          title: Limit
          type: integer
        list:
          description: List of objects.
          items: {}
          nullable: true
          title: List
          type: array
        next_created_at:
          description: Timestamp that indicates the start of the next page of results,
            if any.
          title: Next Created At
          type: string
      type: object
    TransformCreateJob:
      properties:
        data:
          description: Raw JSON data of the complete GOBL Envelope or Document when
            the Silo Entry ID.
          title: Data
        silo_entry_id:
          description: ID for the entry in the silo as an alternative for the raw
            data object.
          title: Silo Entry ID
          type: string
        tags:
          description: Tags to associate with the job.
          items:
            type: string
          title: Tags
          type: array
        workflow_id:
          description: WorkflowID description
          title: Workflow ID
          type: string
      type: object
    TransformEvent:
      properties:
        at:
          description: When the event was created.
          example: "2021-09-15T15:04:05.999Z"
          title: At
          type: string
        code:
          description: Code assigned by the provider that may provide additional information
            about the event.
          title: Code
          type: string
        index:
          description: Index of the event in the intent.
          example: 0
          title: Index
          type: integer
        message:
          description: Message assigned by the provider that may provide additional
            information about the event, especially errors.
          title: Message
          type: string
        status:
          description: Status of the event.
          example: ERR
          title: Status
          type: string
      type: object
    TransformIntegration:
      properties:
        config:
          description: JSON configuration sent to the provider
          title: Configuration
        created_at:
          description: When the integration was created.
          title: Created At
          type: string
        disabled:
          description: When true, this integration can no longer be used.
          title: Disabled
          type: boolean
        id:
          description: The UUID (any version) of the integration.
          example: 8d49556b-ff63-477b-9cd3-32c986c1c77b
          title: ID
          type: string
        name:
          description: Name of the integration
          title: Name
          type: string
        notes:
          description: Additional internal details
          title: Notes
          type: string
        provider:
          description: ID of the provider to use
          example: provider
          title: Provider
          type: string
        updated_at:
          description: When the integration was last updated.
          title: Updated At
          type: string
      type: object
    TransformIntent:
      properties:
        completed:
          description: When true, this intent has completed.
          title: Completed
          type: boolean
        created_at:
          description: When the intent was created.
          title: Created At
          type: string
        events:
          description: Array of event objects tracking the execution of the intent.
          items:
            $ref: '#/components/schemas/TransformEvent'
          title: Events
          type: array
        id:
          description: UUIDv4 for the Intent
          example: b564ff94-7823-4f54-975e-280feb38df3f
          title: ID
          type: string
        integration_id:
          description: ID of the integration to use
          example: 8d49556b-ff63-477b-9cd3-32c986c1c77b
          title: Integration ID
          type: string
        updated_at:
          description: When the intent was last updated.
          title: Updated At
          type: string
      type: object
    TransformJob:
      properties:
        attachments:
          description: Any attachments that have been generated while processing the
            job in the workflow will be here.
          items:
            $ref: '#/components/schemas/TransformAttachment'
          title: Attachments
          type: array
        completed_at:
          description: When this job was completed, will be nil if still ongoing.
          title: Completed At
          type: string
        created_at:
          description: When the job was created.
          title: Created At
          type: string
        envelope:
          description: Raw JSON data of the complete GOBL Envelope.
          title: GOBL Envelope
        id:
          description: The UUIDv1 (other versions not supported) of the job
          example: 5b45453c-cdd0-11ed-afa1-0242ac120002
          title: ID
          type: string
        intents:
          description: Array of intent objects following the execution of each of
            the steps of the associated workflow.
          items:
            $ref: '#/components/schemas/TransformIntent'
          title: Intents
          type: array
        silo_entry_id:
          example: 75fa764a-cdd0-11ed-afa1-0242ac120002
          title: Silo Entry ID
          type: string
        status:
          description: Last known status text for this job.
          title: Status
          type: string
        tags:
          description: Any tags that may be useful to be associated with the job.
          items:
            type: string
          title: Tags
          type: array
        updated_at:
          description: When the job was last updated.
          title: Updated At
          type: string
        workflow_id:
          example: 186522a6-e697-4e34-8498-eee961bcb845
          title: Workflow ID
          type: string
      type: object
    TransformWorkflow:
      properties:
        created_at:
          description: When the workflow was created.
          title: Created At
          type: string
        description:
          description: Description of the workflow
          title: Description
          type: string
        disabled:
          description: When true, this workflow can no longer be used.
          title: Disabled
          type: boolean
        id:
          description: The UUID (any version) of the workflow.
          example: 186522a6-e697-4e34-8498-eee961bcb845
          title: ID
          type: string
        integration_ids:
          description: List of integration IDs to use.
          items:
            type: string
          title: Integrations
          type: array
        name:
          description: Name of the workflow
          title: Name
          type: string
        updated_at:
          description: When the workflow was last updated.
          title: Updated At
          type: string
      type: object
  securitySchemes:
    authToken:
      bearerFormat: JWT
      scheme: bearer
      type: http
