# OpenAPI gov-fr v1 Specification
# This document is created by hand.
openapi: 3.1.0
info:
  contact:
    email: dev@invopop.com
    name: Invopop Developers
  description:
    Set of end-points for the France app, including lookups against
    the PPF Annuaire (French e-invoicing directory).
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  title: France Service API
  version: 0.1.0
servers:
  - description: production
    url: https://api.invopop.com
security:
  - InvopopAuth: []
paths:
  /apps/gov-fr/v1/directory/siren/{siren}:
    get:
      operationId: lookupDirectoryBySIREN
      summary: Look up directory entries by SIREN
      description: |-
        Returns all entries from the PPF Annuaire that
        match the given French SIREN. A company may have several entries 
        so the response is always a list.

        Only available to **live** workspaces. Sandbox workspaces receive
        `403 Forbidden`.
      parameters:
        - name: siren
          in: path
          required: true
          description: 9-digit French SIREN identifier of the company to look up.
          schema:
            type: string
            example: "123456789"
      responses:
        "200":
          description: Lookup completed. `count` may be `0` if the SIREN is not present in the directory.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SIRENLookupResponse"
              examples:
                found:
                  summary: SIREN present in the directory
                  value:
                    siren: "123456789"
                    count: 1
                    results:
                      - id_instance: "1020993"
                        siren: "123456789"
                        siret: ""
                        routing_code: "ROUTE123"
                        platform_id: "0431"
                        nature: "M"
                        identifier: "269909452"
                        suffix: ""
                        start_date: "20251227"
                        end_date: ""
                        effective_end_date: "20280402"
                        created_at: "2026-01-15T10:00:00Z"
                        updated_at: "2026-01-15T10:00:00Z"
                not_found:
                  summary: SIREN not in the directory
                  value:
                    siren: "999999999"
                    count: 0
                    results: []
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /apps/gov-fr/v1/directory/identifier/{identifier}:
    get:
      operationId: lookupDirectoryByIdentifier
      summary: Look up directory entries by electronic address
      description: |-
        Returns all entries from the PPF Annuaire that
        match the given electronic address identifier (the value used to
        route invoices to a party in France represented by an inbox in Invopop).

        Only available to **live** workspaces. Sandbox workspaces receive
        `403 Forbidden`.
      parameters:
        - name: identifier
          in: path
          required: true
          description: |-
            Electronic address identifier as registered in the Annuaire,
            typically in `scheme:value` form (e.g. `0009:123456789`).
          schema:
            type: string
            example: "0009:123456789"
      responses:
        "200":
          description: Lookup completed. `count` may be `0` if no entry uses this identifier.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IdentifierLookupResponse"
              examples:
                found:
                  summary: Identifier present in the directory
                  value:
                    identifier: "0009:123456789"
                    count: 1
                    results:
                      - id_instance: "1020994"
                        siren: "269909452"
                        siret: ""
                        routing_code: "ROUTE123"
                        platform_id: "0431"
                        nature: "M"
                        identifier: "269909452_suffixe1"
                        suffix: "suffixe1"
                        start_date: "20251227"
                        end_date: ""
                        effective_end_date: "20280402"
                        created_at: "2026-01-15T10:00:00Z"
                        updated_at: "2026-01-15T10:00:00Z"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /apps/gov-fr/v1/entry/{silo_entry_id}/party:
    get:
      operationId: fetchEntryParty
      summary: Fetch the draft party for a silo entry
      description: |-
        Returns the draft `Party` associated with the silo entry, including
        any signer details and contact information collected so far. Used
        by onboarding UIs to prefill the edit form.

        The returned object always carries the SIREN read from the silo
        entry envelope; customer-editable fields (signer, email, name
        override) may be empty until they have been submitted via `PATCH`.
      parameters:
        - $ref: "#/components/parameters/SiloEntryID"
      responses:
        "200":
          description: Draft party returned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Party"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"
    patch:
      operationId: updateEntryParty
      summary: Update the draft party for a silo entry
      description: |-
        Applies a partial update to the draft `Party`. Only the fields
        present in the request body are modified; omitting a field leaves
        its current value untouched.

        Rejected with `400` once the party has been approved — approved
        parties are immutable.
      parameters:
        - $ref: "#/components/parameters/SiloEntryID"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PartyPatch"
      responses:
        "200":
          description: Updated draft party.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Party"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /apps/gov-fr/v1/entry/{silo_entry_id}/agreement:
    get:
      operationId: fetchEntryAgreement
      summary: Download the unsigned agreement PDF
      description: |-
        Returns the unsigned mandate PDF that the signer must review and
        sign. The PDF is generated on the fly from the current draft
        `Party` — call `PATCH /party` first if any signer details still
        need to be filled in.
      parameters:
        - $ref: "#/components/parameters/SiloEntryID"
      responses:
        "200":
          description: PDF stream of the agreement, served inline.
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "500":
          $ref: "#/components/responses/InternalServerError"
    post:
      operationId: uploadEntryAgreement
      summary: Upload the signed agreement
      description: |-
        Submits the customer's signed agreement together with the chosen
        signing method.

        Two methods are accepted:

        - `esignature` — the PDF was signed electronically (PAdES). The
          signature is validated cryptographically against the EU Trusted
          List.
        - `identity` — the PDF was signed by hand. The customer must also
          upload identity images via `POST /identity` before this call;
          verification is delegated to Invopop's approval service.

        Side-effects: the signed PDF is attached to the silo entry, the
        approval decision is recorded, and the queued
        `contract.wait.approval` task is poked so the onboarding workflow
        can continue.
      parameters:
        - $ref: "#/components/parameters/SiloEntryID"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AgreementSubmit"
      responses:
        "204":
          description: Signed agreement accepted.
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /apps/gov-fr/v1/entry/{silo_entry_id}/identity:
    post:
      operationId: uploadEntryIdentity
      summary: Upload an identity document image
      description: |-
        Stores one face of the signer's identity document as an attachment
        on the silo entry. Required before submitting the agreement when
        `method=identity`.

        Call once per `view`:

        - `front` + `back` for an ID card (CNI, titre de séjour).
        - `page` for a passport.

        Re-uploading the same `view` overwrites the previous image.
      parameters:
        - $ref: "#/components/parameters/SiloEntryID"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/IdentityUpload"
      responses:
        "204":
          description: Identity image stored.
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /apps/gov-fr/v1/entry/{silo_entry_id}/approval:
    get:
      operationId: fetchEntryApproval
      summary: Get the current approval status
      description: |-
        Returns the latest approval decision for the silo entry. Three
        possible states:

        - `204 No Content` — the customer has uploaded their documents
          but no decision has been recorded yet.
        - `200 OK` with `approved: true` — the onboarding was accepted;
          the party is now eligible for `directory.register`.
        - `200 OK` with `approved: false` — the onboarding was rejected;
          `notes` carries the reason.
      parameters:
        - $ref: "#/components/parameters/SiloEntryID"
      responses:
        "200":
          description: A decision has been recorded.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PartyStatus"
              examples:
                approved:
                  summary: Onboarding accepted
                  value:
                    approved: true
                rejected:
                  summary: Onboarding rejected
                  value:
                    approved: false
                    notes: "Identity document unreadable"
        "204":
          description: Documents uploaded but no decision recorded yet.
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"

components:
  parameters:
    SiloEntryID:
      name: silo_entry_id
      in: path
      required: true
      description: ID of the `org.Party` silo entry being onboarded.
      schema:
        type: string
        example: "5b45453c-cdd0-11ed-afa1-0242ac120002"

  schemas:
    DirectoryEntry:
      type: object
      description: |-
        Single entry in the PPF Annuaire. Each entry
        represents one registered electronic address for a SIREN/SIRET.
      properties:
        id_instance:
          type: string
          description: Unique instance identifier from the PPF export.
          example: "1020993"
        siren:
          type: string
          description: 9-digit French SIREN of the company.
          example: "269909452"
        siret:
          type: string
          description: 14-digit French SIRET of the establishment, when applicable.
          example: ""
        routing_code:
          type: string
          description: Routing code used by the PPF to deliver invoices.
          example: "ROUTE123"
        platform_id:
          type: string
          description: 4-digit identifier of the PA platform that registered the entry.
          example: "0431"
        nature:
          type: string
          description: Single-letter code for the nature of the entry as classified by the Annuaire.
          example: "M"
        identifier:
          type: string
          description: |-
            Electronic address identifier used for routing. Typically the SIREN,
            optionally with a `_suffix` qualifier when multiple addresses exist
            for the same company.
          example: "269909452"
        suffix:
          type: string
          description: Optional suffix qualifying the identifier.
          example: "suffixe1"
        start_date:
          type: string
          description: Date from which this entry is active in the Annuaire, as `YYYYMMDD`.
          example: "20251227"
        end_date:
          type: string
          description: Scheduled end date of the entry as `YYYYMMDD`, when set.
          example: ""
        effective_end_date:
          type: string
          description: Effective end date as `YYYYMMDD`, once the entry has been deactivated.
          example: "20280402"
        created_at:
          type: string
          format: date-time
          description: When this entry was first stored in the local mirror.
          example: "2026-01-15T10:00:00Z"
        updated_at:
          type: string
          format: date-time
          description: When this entry was last refreshed from a PPF export.
          example: "2026-01-15T10:00:00Z"

    SIRENLookupResponse:
      type: object
      required: [siren, count, results]
      properties:
        siren:
          type: string
          description: SIREN that was queried.
          example: "123456789"
        count:
          type: integer
          description: Number of directory entries returned.
          example: 1
        results:
          type: array
          description: Matching directory entries. Empty when the SIREN is not in the Annuaire.
          items:
            $ref: "#/components/schemas/DirectoryEntry"

    IdentifierLookupResponse:
      type: object
      required: [identifier, count, results]
      properties:
        identifier:
          type: string
          description: Electronic address identifier that was queried.
          example: "0009:123456789"
        count:
          type: integer
          description: Number of directory entries returned.
          example: 1
        results:
          type: array
          description: Matching directory entries. Empty when the identifier is not in the Annuaire.
          items:
            $ref: "#/components/schemas/DirectoryEntry"

    Party:
      type: object
      description: |-
        Draft or approved party record collected during gov-fr onboarding.
        One `Party` per SIREN per workspace.
      properties:
        siren:
          type: string
          description: 9-digit French SIREN of the company. Read-only.
          example: "269909452"
        name:
          type: string
          description: |-
            Legal name of the party. Denormalized from the directory entry
            whose inbox matches the SIREN; can be overridden via `PATCH`.
          example: "Boulangerie Dupont SARL"
        signer_given_name:
          type: string
          description: Given name (prénom) of the natural person signing the mandate.
          example: "Marie"
        signer_surname:
          type: string
          description: Family name (nom) of the signer.
          example: "Dupont"
        signer_role:
          type: string
          description: |-
            Signer's role within the company (e.g. `Président`, `Gérant`).
            Maps to the `Fonction` field on the PPF designation form.
          example: "Gérant"
        signer_id:
          type: string
          description: |-
            Signer's national identifier (CNI, passport, etc.) — recorded
            so we can audit who personally signed the mandate.
          example: "123456789012"
        email:
          type: string
          format: email
          description: Single contact email for this onboarding.
          example: "marie.dupont@example.com"
        approval:
          description: |-
            Persistent record that the onboarding was accepted. `null`
            means the party is still a draft.
          oneOf:
            - type: "null"
            - $ref: "#/components/schemas/Approval"

    PartyPatch:
      type: object
      description: |-
        Partial update for a draft `Party`. Only the fields included in
        the request body are modified. SIREN is read-only and cannot be
        changed via this endpoint.
      properties:
        name:
          type: string
          example: "Boulangerie Dupont SARL"
        signer_given_name:
          type: string
          example: "Marie"
        signer_surname:
          type: string
          example: "Dupont"
        signer_role:
          type: string
          example: "Gérant"
        signer_id:
          type: string
          example: "123456789012"
        email:
          type: string
          format: email
          example: "marie.dupont@example.com"

    Approval:
      type: object
      description: Approval record stamped on a `Party` when onboarding is accepted.
      required: [approved_at]
      properties:
        approved_at:
          type: string
          format: date-time
          description: When the approval was recorded.
          example: "2026-02-10T09:14:00Z"
        notes:
          type: string
          description: Free-form context from the validator or reviewer.
          example: "Verified by ops"

    PartyStatus:
      type: object
      description: |-
        Decision payload returned by `GET /approval` once the validator
        has reached a verdict.
      required: [approved]
      properties:
        approved:
          type: boolean
          description: Whether the onboarding was accepted.
          example: true
        notes:
          type: string
          description: Free-form context from the validator (most useful on rejection).
          example: ""

    AgreementSubmit:
      type: object
      required: [method, data]
      properties:
        method:
          type: string
          description: |-
            How the customer signed the agreement.

              - `esignature` - Signed electronically (PAdES). The PDF
                signature is validated against the EU Trusted List.
              - `identity` - Signed by hand and accompanied by uploaded
                identity images. Verification is delegated to Invopop's
                approval service.
          enum: ["esignature", "identity"]
        data:
          type: string
          format: byte
          description: Base64-encoded binary of the signed PDF agreement. Must be `application/pdf`.

    IdentityUpload:
      type: object
      required: [view, data]
      properties:
        view:
          type: string
          description: |-
            Which face of the identity document this image represents.

              - `front` - Front of an ID card (recto).
              - `back` - Back of an ID card (verso).
              - `page` - Photo page of a passport.
          enum: ["front", "back", "page"]
        data:
          type: string
          format: byte
          description: |-
            Base64-encoded binary of the image. Must be `image/jpeg` or
            `image/png`, maximum 10 MB. Text on the document should be
            clearly legible.
        mime:
          type: string
          description: Explicit MIME type of the image. Inferred from `data` when omitted.
          example: "image/jpeg"

    Error:
      type: object
      required: [error]
      properties:
        error:
          type: string
          description: Human-readable description of the error.
          example: "missing siren parameter"

  responses:
    BadRequest:
      description: The request is malformed or missing required parameters.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          example:
            error: "missing siren parameter"

    Unauthorized:
      description: Missing or invalid authentication token.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          example:
            error: "missing enrollment"

    Forbidden:
      description: |-
        The directory API is only available to live workspaces. Calls made
        with a sandbox enrollment are rejected.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          example:
            error: "directory API is only available for live workspaces"

    NotFound:
      description: The referenced silo entry or party could not be found.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          example:
            error: "silo entry not found"

    UnprocessableEntity:
      description: |-
        The request is well-formed but cannot be processed — for example
        the agreement PDF cannot be generated because the draft party is
        incomplete, or the uploaded signature failed validation.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          example:
            error: "draft party is missing signer details"

    InternalServerError:
      description: An unexpected server-side error occurred.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          example:
            error: "internal server error"

  securitySchemes:
    InvopopAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |-
        Authenticate using a valid Invopop enrollment token in the `Bearer`
        scheme.

        Example: `Authorization: Bearer <token>`
